# Telegram Bot 配置
BOT_TOKEN=8540079979:AAGyTQR5TIBaBokIIAXMRQ0SI3XG3xsrAW0
CHANNEL_USERNAME=@PakCipherX
CHANNEL_URL=https://t.me/SoloHunter3
ADMIN_USER_ID=8212695572

# MySQL 数据库配置
MYSQL_HOST=mysql-8da9a76-rdxkinglucky-5049.k.aivencloud.com
MYSQL_PORT=21522
MYSQL_USER=avnadmin
MYSQL_PASSWORD=AVNS_1C9-Icd2PJCovhN8zrg
MYSQL_DATABASE=defaultdb

# 积分配置（可选，默认值在 config.py 中）
# VERIFY_COST=1
# CHECKIN_REWARD=1
# INVITE_REWARD=2
# REGISTER_REWARD=1





